lib/asciidoctor/iso/validate.rnc

start = iso_standard

iso_standard = 
  element iso_standard {
    front,
    middle,
    back?
  }

front =
  element front {
    title,
    foreword,
    introduction?
  }

title |= element title { titlesect } 
title |= element title { titlesect, titlesect } 
title |= element title { titlesect, titlesect, titlesect } 

titlesect =
  element titlesect { text }

foreword =
  element foreword { para+ }

introduction =
  element introduction { para+, patent_notice? }

patent_notice =
  element patent_notice { para+ }

middle =
  element middle {
    scope, norm_ref, terms_defs, clause+
  }

scope =
  element scope { para+ }

norm_ref =
  element norm_ref { iso_ref_title* }

iso_ref_title =
  element iso_ref_title { isocode, isodate?, isotitle }

isocode =
  element isocode { text }

isodate = 
  element isodate { text | date_footnote }

date_footnote =
  element date_footnote { text }

isotitle = 
  element isotitle { text }

terms_defs = 
  element terms_defs { termdef+ }

termdef = 
  element termdef { term, admitted_term?, symbol?, deprecated_term?,
                    domain?, para, termnote*, termexample*, termref* }

term = 
  element term { text }

admitted_term = 
  element admitted_term { text }

symbol = 
  element symbol { text }

deprecated_term = 
  element deprecated_term { text }

domain = 
  element domain { text }

termnote = 
  element termnote { text }

termexample = 
  element termexample { text }

termref = 
  element termref { isocode, (isodate, (isosection, modification?)?)? }

isosection =
  element isosection { text }

modification =
  element modification { text }

clause =
  element clause {
    attribute anchor { xsd:ID }?,
    name?,
    ( para | table | note | stem | warning | ol | ul )*, 
    clause*
  }

back = 
  element back {
    annex*,
    bibliography
  }

annex =
  element annex { para+ }

bibliography =
  element bibliography { para+ }

para =
     element para {
       (text | em | eref | strong | sub | sup | tt | xref | fn | br)*
     }

fn =
  element fn { 
       (text | em | eref | strong | sub | sup | tt | xref | br)*
     }

ol =
  element ol { li+ }

ul = 
  element ul { li+ }

li =
  element li {
    ( para | table | note | stem | warning | ol | ul )+
  }

note =
  element note { para+ }

warning =
  element warning { para+ }

stem =
  element stem { text }

xref =
  element xref { 
    attribute render { "footnote" | "inline" }?,
    attribute target { text },
    ( text | iso_ref )
  }

iso_ref =
  element iso_ref { isocode, (isodate, (isosection?)?)? }

eref =
  element eref { 
    attribute target { text },
    text 
  }

br =
  element br { empty }

em =
  element em { text }

strong =
  element strong { text }

sub =
  element sub { text }

sup =
  element sup { text }

tt =
  element tt { text }

table =
  element table {
    tname?, thead?, tbody+, tfoot?
  }

tname =
  element name { text }

thead =
  element thead { tr+ }

tbody =
  element tbody { tr+ }

tfoot =
  element tfoot { tr+ }

tr =
  element tfoot { (td | th)+ }

th =
  element th { (text | em | eref | strong | sub | sup | tt | xref | fn | br)* }

td =
  element td { (text | em | eref | strong | sub | sup | tt | xref | fn | br)* }
