lib/asciidoctor/iso/validate.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://riboseinc.com/isoxml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="iso_standard"/>
  </start>
  <define name="iso_standard">
    <element name="iso-standard">
      <ref name="front"/>
      <ref name="middle"/>
      <optional>
        <ref name="back"/>
      </optional>
    </element>
  </define>
  <define name="front">
    <element name="front">
      <ref name="title"/>
      <ref name="documenttype"/>
      <optional>
        <ref name="documentstatus"/>
      </optional>
      <ref name="id"/>
      <ref name="language"/>
      <optional>
        <ref name="version"/>
      </optional>
      <ref name="author"/>
      <ref name="foreword"/>
      <optional>
        <ref name="introduction"/>
      </optional>
    </element>
  </define>
  <define name="language">
    <element name="language">
      <choice>
        <value>en</value>
        <value>fr</value>
      </choice>
    </element>
  </define>
  <define name="version">
    <element name="version">
      <optional>
        <ref name="edition"/>
      </optional>
      <optional>
        <ref name="revdate"/>
      </optional>
      <optional>
        <ref name="copyright_year"/>
      </optional>
    </element>
  </define>
  <define name="id">
    <element name="id">
      <ref name="documentnumber"/>
      <optional>
        <ref name="tc_documentnumber"/>
      </optional>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <ref name="technical_committee"/>
      <optional>
        <ref name="subcommittee"/>
      </optional>
      <optional>
        <ref name="workgroup"/>
      </optional>
      <optional>
        <ref name="secretariat"/>
      </optional>
    </element>
  </define>
  <define name="documenttype">
    <element name="documenttype">
      <choice>
        <value>international-standard</value>
        <value>technical-specification</value>
        <value>technical-report</value>
        <value>publicly-available-specification</value>
        <value>international-workshop-agreement</value>
        <value>guide</value>
      </choice>
    </element>
  </define>
  <define name="documentstatus">
    <element name="documentstatus">
      <ref name="stage"/>
      <optional>
        <ref name="substage"/>
      </optional>
    </element>
  </define>
  <define name="stage">
    <element name="stage">
      <choice>
        <value>00</value>
        <value>10</value>
        <value>20</value>
        <value>30</value>
        <value>40</value>
        <value>50</value>
        <value>60</value>
        <value>90</value>
        <value>95</value>
      </choice>
    </element>
  </define>
  <define name="substage">
    <element name="substage">
      <choice>
        <value>00</value>
        <value>20</value>
        <value>60</value>
        <value>90</value>
        <value>92</value>
        <value>93</value>
        <value>98</value>
        <value>99</value>
      </choice>
    </element>
  </define>
  <define name="documentnumber">
    <element name="documentnumber">
      <optional>
        <attribute name="partnumber"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="tc_documentnumber">
    <element name="tc_documentnumber">
      <text/>
    </element>
  </define>
  <define name="technical_committee">
    <element name="technical_committee">
      <optional>
        <attribute name="number"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="subcommittee">
    <element name="subcommittee">
      <optional>
        <attribute name="number"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="workgroup">
    <element name="workgroup">
      <optional>
        <attribute name="number"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="secretariat">
    <element name="secretariat">
      <text/>
    </element>
  </define>
  <define name="revdate">
    <element name="revdate">
      <text/>
    </element>
  </define>
  <define name="copyright_year">
    <element name="copyright_year">
      <text/>
    </element>
  </define>
  <define name="edition">
    <element name="edition">
      <text/>
    </element>
  </define>
  <define name="title">
    <element name="title">
      <ref name="title_en"/>
      <ref name="title_fr"/>
    </element>
  </define>
  <define name="title_en">
    <element name="en">
      <optional>
        <ref name="title_intro"/>
      </optional>
      <ref name="title_main"/>
      <optional>
        <ref name="title_part"/>
      </optional>
    </element>
  </define>
  <define name="title_fr">
    <element name="fr">
      <optional>
        <ref name="title_intro"/>
      </optional>
      <ref name="title_main"/>
      <optional>
        <ref name="title_part"/>
      </optional>
    </element>
  </define>
  <define name="title_intro">
    <element name="title_intro">
      <text/>
    </element>
  </define>
  <define name="title_main">
    <element name="title_main">
      <text/>
    </element>
  </define>
  <define name="title_part">
    <element name="title_part">
      <text/>
    </element>
  </define>
  <define name="foreword">
    <element name="foreword">
      <zeroOrMore>
        <choice>
          <ref name="para"/>
          <ref name="table"/>
          <ref name="note"/>
          <ref name="formula"/>
          <ref name="warning"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="figure"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="introduction">
    <element name="introduction">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="para"/>
          <ref name="table"/>
          <ref name="note"/>
          <ref name="formula"/>
          <ref name="warning"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="figure"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="clause"/>
      </zeroOrMore>
      <optional>
        <ref name="patent_notice"/>
      </optional>
    </element>
  </define>
  <define name="patent_notice">
    <element name="patent_notice">
      <oneOrMore>
        <ref name="para"/>
      </oneOrMore>
    </element>
  </define>
  <define name="middle">
    <element name="middle">
      <ref name="scope"/>
      <ref name="norm_ref"/>
      <ref name="terms_defs"/>
      <optional>
        <ref name="symbols_abbrevs"/>
      </optional>
      <oneOrMore>
        <ref name="clause"/>
      </oneOrMore>
    </element>
  </define>
  <define name="scope">
    <element name="scope">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="para"/>
          <ref name="table"/>
          <ref name="note"/>
          <ref name="formula"/>
          <ref name="warning"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="figure"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="clause"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="norm_ref">
    <element name="norm_ref">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <!-- boilerplate -->
      <ref name="para"/>
      <zeroOrMore>
        <choice>
          <ref name="iso_ref_title"/>
          <ref name="reference"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="symbols_abbrevs">
    <element name="symbols_abbrevs">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <ref name="dl"/>
    </element>
  </define>
  <define name="iso_ref_title">
    <element name="iso_ref_title">
      <attribute name="anchor">
        <data type="ID"/>
      </attribute>
      <ref name="isocode"/>
      <optional>
        <ref name="isodate"/>
        <optional>
          <ref name="date_footnote"/>
        </optional>
      </optional>
      <ref name="isotitle"/>
    </element>
  </define>
  <define name="isocode">
    <element name="isocode">
      <optional>
        <attribute name="allparts">
          <choice>
            <value>true</value>
            <value>false</value>
          </choice>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="isodate">
    <element name="isodate">
      <text/>
    </element>
  </define>
  <define name="date_footnote">
    <element name="date_footnote">
      <text/>
    </element>
  </define>
  <define name="isotitle">
    <element name="isotitle">
      <text/>
    </element>
  </define>
  <define name="terms_defs">
    <element name="terms_defs">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <zeroOrMore>
        <!-- boilerplate -->
        <ref name="para"/>
      </zeroOrMore>
      <optional>
        <ref name="ul"/>
      </optional>
      <choice>
        <oneOrMore>
          <ref name="termdef"/>
        </oneOrMore>
        <optional>
          <ref name="terms_defs"/>
        </optional>
      </choice>
    </element>
  </define>
  <define name="termdef">
    <element name="termdef">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <ref name="term"/>
      <zeroOrMore>
        <ref name="admitted_term"/>
      </zeroOrMore>
      <optional>
        <ref name="termsymbol"/>
      </optional>
      <zeroOrMore>
        <ref name="deprecated_term"/>
      </zeroOrMore>
      <optional>
        <ref name="termdomain"/>
      </optional>
      <ref name="termdefinition"/>
      <zeroOrMore>
        <ref name="termnote"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="termexample"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="termref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="term">
    <element name="term">
      <text/>
    </element>
  </define>
  <define name="admitted_term">
    <element name="admitted_term">
      <text/>
    </element>
  </define>
  <define name="termsymbol">
    <element name="termsymbol">
      <ref name="stem"/>
    </element>
  </define>
  <define name="deprecated_term">
    <element name="deprecated_term">
      <text/>
    </element>
  </define>
  <define name="termdomain">
    <element name="termdomain">
      <text/>
    </element>
  </define>
  <define name="termdefinition">
    <element name="termdefinition">
      <oneOrMore>
        <choice>
          <ref name="para"/>
          <ref name="figure"/>
          <ref name="formula"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="termnote">
    <element name="termnote">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="xref"/>
          <ref name="eref"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="termexample">
    <element name="termexample">
      <text/>
    </element>
  </define>
  <define name="termref">
    <element name="termref">
      <ref name="xref"/>
      <optional>
        <ref name="isosection"/>
        <optional>
          <ref name="modification"/>
        </optional>
      </optional>
    </element>
  </define>
  <define name="isosection">
    <element name="isosection">
      <text/>
    </element>
  </define>
  <define name="modification">
    <element name="modification">
      <text/>
    </element>
  </define>
  <define name="clause">
    <element name="clause">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="para"/>
          <ref name="table"/>
          <ref name="note"/>
          <ref name="formula"/>
          <ref name="warning"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="figure"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="clause"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="para"/>
          <ref name="table"/>
          <ref name="note"/>
          <ref name="formula"/>
          <ref name="warning"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="figure"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="back">
    <element name="back">
      <zeroOrMore>
        <ref name="annex"/>
      </zeroOrMore>
      <ref name="bibliography"/>
    </element>
  </define>
  <define name="annex">
    <element name="annex">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="subtype">
          <choice>
            <value>normative</value>
            <value>informative</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="para"/>
          <ref name="table"/>
          <ref name="note"/>
          <ref name="formula"/>
          <ref name="warning"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="figure"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="clause"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="bibliography">
    <element name="bibliography">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="iso_ref_title"/>
          <ref name="reference"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="reference">
    <element name="reference">
      <ref name="ref"/>
      <ref name="para"/>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="para">
    <element name="p">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="em"/>
          <ref name="eref"/>
          <ref name="strong"/>
          <ref name="stem"/>
          <ref name="sub"/>
          <ref name="sup"/>
          <ref name="tt"/>
          <ref name="xref"/>
          <ref name="fn"/>
          <ref name="br"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="figure">
    <element name="figure">
      <optional>
        <attribute name="src"/>
      </optional>
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <optional>
        <ref name="dl"/>
      </optional>
      <zeroOrMore>
        <ref name="figure"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="sourcecode">
    <element name="sourcecode">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="callout"/>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="colist"/>
      </optional>
    </element>
  </define>
  <define name="review_note">
    <element name="review_note">
      <optional>
        <attribute name="source"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="callout">
    <element name="callout">
      <text/>
    </element>
  </define>
  <define name="colist">
    <element name="colist">
      <oneOrMore>
        <ref name="annotation"/>
      </oneOrMore>
    </element>
  </define>
  <define name="annotation">
    <element name="annotation">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="fn">
    <element name="fn">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="em"/>
          <ref name="eref"/>
          <ref name="stem"/>
          <ref name="strong"/>
          <ref name="sub"/>
          <ref name="sup"/>
          <ref name="tt"/>
          <ref name="xref"/>
          <ref name="br"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="ol">
    <element name="ol">
      <attribute name="type"/>
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ul">
    <element name="ul">
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="li">
    <element name="li">
      <oneOrMore>
        <choice>
          <ref name="para"/>
          <ref name="table"/>
          <ref name="note"/>
          <ref name="formula"/>
          <ref name="warning"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="dl">
    <element name="dl">
      <oneOrMore>
        <ref name="dt"/>
        <ref name="dd"/>
      </oneOrMore>
    </element>
  </define>
  <define name="dt">
    <element name="dt">
      <choice>
        <text/>
        <ref name="em"/>
        <ref name="eref"/>
        <ref name="stem"/>
        <ref name="strong"/>
        <ref name="sub"/>
        <ref name="sup"/>
        <ref name="tt"/>
        <ref name="xref"/>
        <ref name="br"/>
      </choice>
    </element>
  </define>
  <define name="dd">
    <element name="dd">
      <zeroOrMore>
        <choice>
          <ref name="para"/>
          <ref name="table"/>
          <ref name="note"/>
          <ref name="formula"/>
          <ref name="warning"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <oneOrMore>
        <ref name="para"/>
      </oneOrMore>
    </element>
  </define>
  <define name="warning">
    <element name="warning">
      <oneOrMore>
        <ref name="para"/>
      </oneOrMore>
    </element>
  </define>
  <define name="formula">
    <element name="formula">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <ref name="stem"/>
      <optional>
        <ref name="dl"/>
      </optional>
    </element>
  </define>
  <define name="xref">
    <element name="xref">
      <optional>
        <attribute name="format">
          <choice>
            <value>footnote</value>
            <value>inline</value>
          </choice>
        </attribute>
      </optional>
      <attribute name="target"/>
      <choice>
        <text/>
        <ref name="iso_ref"/>
      </choice>
    </element>
  </define>
  <define name="iso_ref">
    <element name="iso_ref">
      <ref name="isocode"/>
      <optional>
        <ref name="isodate"/>
        <optional>
          <optional>
            <ref name="isosection"/>
          </optional>
        </optional>
      </optional>
    </element>
  </define>
  <define name="eref">
    <element name="eref">
      <attribute name="target"/>
      <text/>
    </element>
  </define>
  <define name="br">
    <element name="br">
      <empty/>
    </element>
  </define>
  <define name="em">
    <element name="em">
      <text/>
    </element>
  </define>
  <define name="strong">
    <element name="strong">
      <text/>
    </element>
  </define>
  <define name="stem">
    <element name="stem">
      <text/>
    </element>
  </define>
  <define name="sub">
    <element name="sub">
      <text/>
    </element>
  </define>
  <define name="sup">
    <element name="sup">
      <text/>
    </element>
  </define>
  <define name="tt">
    <element name="tt">
      <text/>
    </element>
  </define>
  <define name="table">
    <element name="table">
      <optional>
        <attribute name="anchor">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <optional>
        <ref name="thead"/>
      </optional>
      <ref name="tbody"/>
      <optional>
        <ref name="tfoot"/>
      </optional>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="tname">
    <element name="name">
      <text/>
    </element>
  </define>
  <define name="thead">
    <element name="thead">
      <oneOrMore>
        <ref name="tr"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tbody">
    <element name="tbody">
      <oneOrMore>
        <ref name="tr"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tfoot">
    <element name="tfoot">
      <oneOrMore>
        <ref name="tr"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tr">
    <element name="tr">
      <oneOrMore>
        <choice>
          <ref name="td"/>
          <ref name="th"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="th">
    <element name="th">
      <optional>
        <attribute name="colspan"/>
      </optional>
      <optional>
        <attribute name="rowspan"/>
      </optional>
      <optional>
        <attribute name="align"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="em"/>
          <ref name="eref"/>
          <ref name="stem"/>
          <ref name="strong"/>
          <ref name="sub"/>
          <ref name="sup"/>
          <ref name="tt"/>
          <ref name="xref"/>
          <ref name="fn"/>
          <ref name="br"/>
          <ref name="para"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="td">
    <element name="td">
      <optional>
        <attribute name="colspan"/>
      </optional>
      <optional>
        <attribute name="rowspan"/>
      </optional>
      <optional>
        <attribute name="align"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="em"/>
          <ref name="eref"/>
          <ref name="stem"/>
          <ref name="strong"/>
          <ref name="sub"/>
          <ref name="sup"/>
          <ref name="tt"/>
          <ref name="xref"/>
          <ref name="fn"/>
          <ref name="br"/>
          <ref name="para"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
</grammar>
