lib/metanorma/iso/metanorma-mathml.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
    Metanorma wrapper around the vendored W3C MathML 3.0 RelaxNG grammar.
    Includes the unmodified W3C grammar (start = math) and augments it with
    metanorma's owned extension attributes. Referenced from basicdoc.rnc via:
      mathml = external "mathml/metanorma-mathml.rnc"
    Authoritative param list for data-metanorma-numberformat lives in plurimath
    (Formatter::Standard::DEFAULT_OPTIONS); see metanorma/basicdoc-models#35.
  -->
  <include href="mathml3.rng">
    <!--
      Foreign annotation-xml considered harmful: the metanorma lutaml-model
      serialiser emits no foreign markup, so the W3C annotation-xml escape hatch
      (and its anyElement wildcard) is forbidden in the MathML we process. This
      also removes the untyped `id` attribute the wildcard permits, which clashes
      with xsd:ID under RELAX NG ID-type consistency (the callout-annotation
      error). metanorma only emits presentation MathML; pre-empting the escape
      hatch before semantic MathML is ever wired. Text-only <annotation> is
      retained. See metanorma/basicdoc-models#35
    -->
    <define name="annotation-xml">
      <notAllowed/>
    </define>
    <define name="anyElement">
      <notAllowed/>
    </define>
  </include>
  <!--
    metanorma number-formatting hint on <mn>; opaque comma-separated option
    string parsed at presentation time (no-namespace data- attribute, which
    the W3C CommonAtt/NonMathMLAtt does not otherwise permit).
  -->
  <define name="mn.attributes" combine="interleave">
    <optional>
      <attribute name="data-metanorma-numberformat"/>
    </optional>
  </define>
</grammar>
