lib/asciidoctor/iso/isoxml/validate.rnc

default namespace = "http://riboseinc.com/isoxml"

grammar {

start = iso_standard

iso_standard = 
  element iso-standard {
    title+,
    documentstatus,
    creator,
    language,
    script,
    documenttype,
    id,
    version?,
    copyright,
    sections
  }

language =
  element language { ( "en" | "fr" ) }

script =
  element script { "latn" }

version =
  element version {
    edition?,
    revdate?
  }

copyright = 
  element copyright {
    from, owner
}

from = element from { text }

owner = 
  element owner {
    owner_affiliation  
}

owner_affiliation = element affiliation { "ISO" }

id =
  element id {
    documentnumber,
    tc_documentnumber?
  }

creator =
  element creator { 
    attribute role { text },
    technical_committee,
    subcommittee?,
    workgroup?,
    secretariat?
  }

documenttype =
  element type {
     ( "international-standard" | "technical-specification" | 
       "technical-report" | "publicly-available-specification" | 
        "international-workshop-agreement" | "guide" )
  }

documentstatus =
  element status {
     stage,
     substage?
  }

stage = 
  element stage {
    ("00" | "10" | "20" | "30" | "40" | "50" | "60" | "90" | "95" )
  }

substage = 
  element substage {
    ("00" | "20" | "60" | "90" | "92" | "93" | "98" | "99" )
  }

documentnumber = 
  element projectnumber { 
    attribute part { text }?,
    text 
   }

tc_documentnumber = 
  element tc_documentnumber { 
    text 
   }

technical_committee =
  element technical_committee {
    attribute number { text }?,
    text
  }

subcommittee =
  element subcommittee {
    attribute number { text }?,
    text
  }

workgroup =
  element workgroup {
    attribute number { text }?,
    text
  }

secretariat =
  element secretariat { text }

revdate =
  element revision_date { text }

copyright_year =
  element copyright_year { text }

edition =
  element edition { text }

title = 
  element title { 
    attribute language { text }, 
    title_intro?, title_main, title_part? 
}

title_intro =
  element title_intro { text }

title_main =
  element title_main { text }

title_part =
  element title_part { text }

sections =
  element sections {
    content, content?, 
    clause, references, terms, clause+, 
    annex*, references?
  }

content =
  element content { Content_Section }

content_subsection =
  element subsection { Content_Section }

Content_Section = 
    attribute id { xsd:ID }?,
    section_title?,
    ( BasicBlock+ |
      content_subsection+ )

clause =
  element clause { Clause_Section }

Clause_Section =
    attribute id { xsd:ID }?,
    section_title?,
    (
      BasicBlock+ |
       clause_subsection+
    )

clause_subsection =
  element subsection { Clause_Section }

references =
  element references {
    attribute id { xsd:ID }?,
    section_title?,
    # ( iso_ref_title | reference )*,
    bibitem*,
    references*
}

# ELIM
iso_ref_title =
  element iso_ref_title { 
    attribute id { xsd:ID },
    isocode, (isodate, date_footnote?)?, isotitle 
  }

# ELIM
isocode =
  element isocode { 
    attribute allparts { "true" | "false" }?,
    text 
  }

# ELIM
isodate = 
  element isodate { text }

# ELIM
date_footnote =
  element date_footnote { text }

isotitle = 
  element isotitle { text }

terms = 
  element terms { 
    attribute id { xsd:ID }?,
    section_title?,
    # boilerplate
    para*, ul?,
    (term+ | terms? )
  }

term = 
  element term { 
    attribute id { xsd:ID }?,
    preferred, admitted*, deprecates*,
    termdomain?, definition, termnote*, termexample*, termsource* 
  }

preferred = 
  element preferred { TextElement+ }

admitted = 
  element admitted { TextElement+ }

deprecates = 
  element deprecates { TextElement+ }

termdomain = 
  element domain { TextElement+ }

definition =
  element definition {
    ( para_no_fn | figure | formula )+
  }

termnote = 
  element termnote { (text | xref | eref | link)* }

termexample = 
  element termexample { 
    attribute id { xsd:ID },
    BasicBlock 
  }

termsource = 
  element termsource { 
    attribute status { ( "identical" | "modified" ) },
    origin, modification?
}

origin =
  element origin { 
    attribute citeas { text },
    CitationType 
}

modification =
  element modification { para_no_fn }

BasicBlock = 
( para | table | note | formula | admonition | ol | ul | dl | figure | 
  quote | sourcecode | example )

clause_hanging_para =
  element subsection {
    attribute id { xsd:ID }?,
    section_title?,
    # allow hanging paragraphs in annexes: they introduce lists
    BasicBlock*,
    clause_hanging_para*
  }

quote =
  element quote {
    attribute id { xsd:ID },
    attribute align { Alignments }?,
    quote_source?,
    quote_author?,
    BasicBlock*
  }

quote_source =
  element source { CitationType }

quote_author =
  element author { CreatorInfo }


annex =
  element annex { 
    attribute id { xsd:ID }?,
    attribute subtype { "normative" | "informative" }?,
    section_title?,
    # allow hanging paragraphs in annexes: they introduce lists
    #( para | table | note | formula | admonition | ol | ul | dl | figure | quote | sourcecode | review | example )*,
    BasicBlock*,
    clause_hanging_para*
  }

# ELIM
reference = 
  element reference { ref, para }

# ELIM
ref =
  element ref {
    attribute id { xsd:ID }?,
    text
  }

TextElement = 
  text | em | eref | link | strong | stem | sub | sup | tt | strike |
  smallcap | xref | br | hr | pagebreak

Alignments = ( "left" | "center" | "right" | "justified" )

para =
     element p {
       attribute id { xsd:ID },
       attribute align { Alignments }?,
       ( TextElement | fn )*,
       review*
     }

para_no_fn =
     element p {
       attribute id { xsd:ID },
       attribute align { Alignments }?,
       ( TextElement )*,
       review*
     }

figure = 
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | figure+ ),
    fn*,
    dl?,
    note*
  }

image =
  element image {
    attribute src { text }?,
    attribute id { xsd:ID },
    attribute imagetype { text }
}

sourcecode =
  element sourcecode {
    attribute id { xsd:ID },
    tname?,
    ( text | callout )*,
    annotation*
  }

review =
  element review {
    attribute reviewer { text },
    attribute date { text },
    text
  }

callout =
  element callout {
    attribute target { xsd:IDREF },
    text
  }

annotation =
  element annotation {
    attribute id { xsd:ID },
    text
  }

fn =
  element fn { 
    attribute reference { text },
       para_no_fn+
     }

ol =
  element ol { 
    attribute id { xsd:ID },
    attribute type { 
      ( "roman" | "alphabet" | "arabic" | "roman_upper" | "alphabet_upper" ) },
    li+ 
  }

ul = 
  element ul { 
    attribute id { xsd:ID },
    li+ 
}

li =
  element li {
    #( para | table | note | formula | admonition | ol | ul | dl | quote | sourcecode | review | example )+
    BasicBlock+
    # exclude figures?
  }

dl =
  element dl {
    attribute id { xsd:ID },
    (dt, dd)+
  }

dt =
  element dt {
    ( TextElement )
  }

dd =
  element dd {
    #( para | table | note | formula | admonition | ol | ul | dl | quote | sourcecode | review | example )*
    # exclude figures?
    BasicBlock+
  }

note =
  element note { 
    attribute id { xsd:ID },
    para+ 
  }

admonition =
  element admonition { 
    attribute id { xsd:ID },
    attribute type { 
     ( "danger" | "caution" | "warning" | "important" | "safety precautions" )},
    para+ 
  }

formula =
  element formula { 
    attribute id { xsd:ID },
    stem,
    dl?
  }

example = 
  element example {
    attribute id { xsd:ID },
    ( para | formula | ol | ul | dl | quote | sourcecode | review )+
  }

xref =
  element xref { 
    attribute target { xsd:IDREF },
    text
  }

# ELIM
iso_ref =
  element iso_ref { isocode, (isodate, (isosection?)?)? }

# ELIM
isosection = element isosection { text }

link =
  element link {
    attribute target {xsd:anyURI},
    text
}

ReferenceFormat = ( "external" | "inline" | "footnote" | "callout" )

eref =
  element eref { 
    attribute type { ReferenceFormat }?,
    attribute normative { xsd:boolean }?,
    attribute citeas { text },
    CitationType,
    text 
  }

br = element br { empty }
hr = element hr { empty }
pagebreak = element pagebreak { empty }

em =
  element em { text }

strong =
  element strong { text }

stem =
  element stem { 
    attribute type { "MathML" },
    text 
}

sub =
  element sub { text }

sup =
  element sup { text }

tt =
  element tt { text }

strike = element strike { text }

smallcap = element smallcap { text }

table =
  element table {
    attribute id { xsd:ID },
    tname?, thead?, tbody, tfoot?, dl?, note*
  }

tname =
  element name { text }

section_title =
  element title { text }

thead =
  element thead { tr+ }

tbody =
  element tbody { tr+ }

tfoot =
  element tfoot { tr+ }

tr =
  element tr { (td | th)+ }

th =
  element th { 
    attribute colspan { text }?,
    attribute rowspan { text }?,
    attribute align { text }?,
    ( TextElement | fn | para)* 
  }

td =
  element td { 
    attribute colspan { text }?,
    attribute rowspan { text }?,
    attribute align { text }?,
    ( TextElement | fn | para)* 
  }

CreatorInfo =
    attribute role { text },
    fullname?, affiliation?, person_identifier*

publisher = 
  element publisher { CreatorInfo }
# a publisher has a subset of the roles of a creator

fullname =
  element fullname {
    prefix*, forename*, initial*, surname, addition*
}

prefix = element prefix { text }
initial = element initial { text }
addition = element addition { text }
surname = element surname { text }
forename = element forename { text }

affiliation =
  element affiliation { Organization }

Organization =  
    orgname, uri?, address?, org_identifier*

orgname =
  element name { text }

uri =
  element uri { text }

address =
  element address {
    # iso191606 TODO
    street+, city, state?, country, postcode?
}

street = element street { text }
city = element city { text }
state = element state { text }
country = element country { text }
postcode = element postcode { text }

person_identifier =
  element identifier {
    attribute type { ("isni" | "uri") },
    text
  }

org_identifier =
  element identifier {
    attribute type { ("orcid" | "uri") },
    text
  }

CitationType = 
   attribute bibitemid { xsd:IDREF },
   locality*, date?

date = element date { string }

locality =
  element locality {
    attribute type { 
      ( "section" | "clause" | "part" | "paragraph" | "chapter" | "page" | 
        "whole" ) },
    text
}

bibitem =
  element bibitem { BibItemType }

BibItemType =
  attribute id { xsd:ID },
  attribute type { 
    ( "article" | "book" | "booklet" | "conference" | "manual" |
     "proceedings" | "presentation" | "thesis" | "techreport" | "standard" | 
     "unpublished" ) }?,
  ( bname | formatted ), 
  source?, publishdate?, docidentifier*, accesseddate?, creator*, 
  publisher*, edition?, note*, partOf*, creationdate?, language*, script*

bname = element name { text }
formatted = element formatted { TextElement+ }
source = element source { xsd:anyURI }
publishdate = element publishdate { text }
docidentifier = element docidentifier { text }
accesseddate = element accesseddate { text }
creationdate = element creationdate { text }

partOf = element partOf { BibItemType }


}


