lib/asciidoctor/iso/isoxml/validate.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://riboseinc.com/isoxml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="iso_standard"/>
  </start>
  <define name="iso_standard">
    <element name="iso-standard">
      <oneOrMore>
        <ref name="title"/>
      </oneOrMore>
      <ref name="documentstatus"/>
      <ref name="creator"/>
      <ref name="language"/>
      <ref name="script"/>
      <ref name="documenttype"/>
      <ref name="id"/>
      <optional>
        <ref name="version"/>
      </optional>
      <ref name="copyright"/>
      <ref name="sections"/>
    </element>
  </define>
  <define name="language">
    <element name="language">
      <choice>
        <value>en</value>
        <value>fr</value>
      </choice>
    </element>
  </define>
  <define name="script">
    <element name="script">
      <value>latn</value>
    </element>
  </define>
  <define name="version">
    <element name="version">
      <optional>
        <ref name="edition"/>
      </optional>
      <optional>
        <ref name="revdate"/>
      </optional>
    </element>
  </define>
  <define name="copyright">
    <element name="copyright">
      <ref name="from"/>
      <ref name="owner"/>
    </element>
  </define>
  <define name="from">
    <element name="from">
      <text/>
    </element>
  </define>
  <define name="owner">
    <element name="owner">
      <ref name="owner_affiliation"/>
    </element>
  </define>
  <define name="owner_affiliation">
    <element name="affiliation">
      <value>ISO</value>
    </element>
  </define>
  <define name="id">
    <element name="id">
      <ref name="documentnumber"/>
      <optional>
        <ref name="tc_documentnumber"/>
      </optional>
    </element>
  </define>
  <define name="creator">
    <element name="creator">
      <attribute name="role"/>
      <ref name="technical_committee"/>
      <optional>
        <ref name="subcommittee"/>
      </optional>
      <optional>
        <ref name="workgroup"/>
      </optional>
      <optional>
        <ref name="secretariat"/>
      </optional>
    </element>
  </define>
  <define name="documenttype">
    <element name="type">
      <choice>
        <value>international-standard</value>
        <value>technical-specification</value>
        <value>technical-report</value>
        <value>publicly-available-specification</value>
        <value>international-workshop-agreement</value>
        <value>guide</value>
      </choice>
    </element>
  </define>
  <define name="documentstatus">
    <element name="status">
      <ref name="stage"/>
      <optional>
        <ref name="substage"/>
      </optional>
    </element>
  </define>
  <define name="stage">
    <element name="stage">
      <choice>
        <value>00</value>
        <value>10</value>
        <value>20</value>
        <value>30</value>
        <value>40</value>
        <value>50</value>
        <value>60</value>
        <value>90</value>
        <value>95</value>
      </choice>
    </element>
  </define>
  <define name="substage">
    <element name="substage">
      <choice>
        <value>00</value>
        <value>20</value>
        <value>60</value>
        <value>90</value>
        <value>92</value>
        <value>93</value>
        <value>98</value>
        <value>99</value>
      </choice>
    </element>
  </define>
  <define name="documentnumber">
    <element name="projectnumber">
      <optional>
        <attribute name="part"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="tc_documentnumber">
    <element name="tc_documentnumber">
      <text/>
    </element>
  </define>
  <define name="technical_committee">
    <element name="technical_committee">
      <optional>
        <attribute name="number"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="subcommittee">
    <element name="subcommittee">
      <optional>
        <attribute name="number"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="workgroup">
    <element name="workgroup">
      <optional>
        <attribute name="number"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="secretariat">
    <element name="secretariat">
      <text/>
    </element>
  </define>
  <define name="revdate">
    <element name="revision_date">
      <text/>
    </element>
  </define>
  <define name="copyright_year">
    <element name="copyright_year">
      <text/>
    </element>
  </define>
  <define name="edition">
    <element name="edition">
      <text/>
    </element>
  </define>
  <define name="title">
    <element name="title">
      <attribute name="language"/>
      <optional>
        <ref name="title_intro"/>
      </optional>
      <ref name="title_main"/>
      <optional>
        <ref name="title_part"/>
      </optional>
    </element>
  </define>
  <define name="title_intro">
    <element name="title_intro">
      <text/>
    </element>
  </define>
  <define name="title_main">
    <element name="title_main">
      <text/>
    </element>
  </define>
  <define name="title_part">
    <element name="title_part">
      <text/>
    </element>
  </define>
  <define name="sections">
    <element name="sections">
      <ref name="content"/>
      <optional>
        <ref name="content"/>
      </optional>
      <ref name="clause"/>
      <ref name="references"/>
      <ref name="terms"/>
      <oneOrMore>
        <ref name="clause"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="annex"/>
      </zeroOrMore>
      <optional>
        <ref name="references"/>
      </optional>
    </element>
  </define>
  <define name="content">
    <element name="content">
      <ref name="Content_Section"/>
    </element>
  </define>
  <define name="content_subsection">
    <element name="subsection">
      <ref name="Content_Section"/>
    </element>
  </define>
  <define name="Content_Section">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <ref name="section_title"/>
    </optional>
    <choice>
      <oneOrMore>
        <ref name="BasicBlock"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="content_subsection"/>
      </oneOrMore>
    </choice>
  </define>
  <define name="clause">
    <element name="clause">
      <ref name="Clause_Section"/>
    </element>
  </define>
  <define name="Clause_Section">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <ref name="section_title"/>
    </optional>
    <choice>
      <oneOrMore>
        <ref name="BasicBlock"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="clause_subsection"/>
      </oneOrMore>
    </choice>
  </define>
  <define name="clause_subsection">
    <element name="subsection">
      <ref name="Clause_Section"/>
    </element>
  </define>
  <define name="references">
    <element name="references">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="section_title"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="iso_ref_title"/>
          <ref name="reference"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="references"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="iso_ref_title">
    <element name="iso_ref_title">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <ref name="isocode"/>
      <optional>
        <ref name="isodate"/>
        <optional>
          <ref name="date_footnote"/>
        </optional>
      </optional>
      <ref name="isotitle"/>
    </element>
  </define>
  <define name="isocode">
    <element name="isocode">
      <optional>
        <attribute name="allparts">
          <choice>
            <value>true</value>
            <value>false</value>
          </choice>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="isodate">
    <element name="isodate">
      <text/>
    </element>
  </define>
  <define name="date_footnote">
    <element name="date_footnote">
      <text/>
    </element>
  </define>
  <define name="isotitle">
    <element name="isotitle">
      <text/>
    </element>
  </define>
  <define name="terms">
    <element name="terms">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="section_title"/>
      </optional>
      <zeroOrMore>
        <!-- boilerplate -->
        <ref name="para"/>
      </zeroOrMore>
      <optional>
        <ref name="ul"/>
      </optional>
      <choice>
        <oneOrMore>
          <ref name="termdef"/>
        </oneOrMore>
        <optional>
          <ref name="terms"/>
        </optional>
      </choice>
    </element>
  </define>
  <define name="termdef">
    <element name="termdef">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <ref name="term"/>
      <zeroOrMore>
        <ref name="admitted_term"/>
      </zeroOrMore>
      <optional>
        <ref name="termsymbol"/>
      </optional>
      <zeroOrMore>
        <ref name="deprecated_term"/>
      </zeroOrMore>
      <optional>
        <ref name="termdomain"/>
      </optional>
      <ref name="termdefinition"/>
      <zeroOrMore>
        <ref name="termnote"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="termexample"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="termref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="term">
    <element name="term">
      <text/>
    </element>
  </define>
  <define name="admitted_term">
    <element name="admitted_term">
      <text/>
    </element>
  </define>
  <define name="termsymbol">
    <element name="termsymbol">
      <ref name="stem"/>
    </element>
  </define>
  <define name="deprecated_term">
    <element name="deprecated_term">
      <text/>
    </element>
  </define>
  <define name="termdomain">
    <element name="termdomain">
      <text/>
    </element>
  </define>
  <define name="termdefinition">
    <element name="termdefinition">
      <oneOrMore>
        <choice>
          <ref name="para_no_fn"/>
          <ref name="figure"/>
          <ref name="formula"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="termnote">
    <element name="termnote">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="xref"/>
          <ref name="eref"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="termexample">
    <element name="termexample">
      <text/>
    </element>
  </define>
  <define name="termref">
    <element name="termref">
      <ref name="xref"/>
      <optional>
        <ref name="isosection"/>
        <optional>
          <ref name="modification"/>
        </optional>
      </optional>
    </element>
  </define>
  <define name="isosection">
    <element name="isosection">
      <text/>
    </element>
  </define>
  <define name="modification">
    <element name="modification">
      <text/>
    </element>
  </define>
  <define name="BasicBlock">
    <choice>
      <ref name="para"/>
      <ref name="table"/>
      <ref name="note"/>
      <ref name="formula"/>
      <ref name="warning"/>
      <ref name="ol"/>
      <ref name="ul"/>
      <ref name="dl"/>
      <ref name="figure"/>
      <ref name="quote"/>
      <ref name="sourcecode"/>
      <ref name="review_note"/>
      <ref name="example"/>
    </choice>
  </define>
  <define name="clause_hanging_para">
    <element name="subsection">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="section_title"/>
      </optional>
      <zeroOrMore>
        <!-- allow hanging paragraphs in annexes: they introduce lists -->
        <ref name="BasicBlock"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="clause_hanging_para"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="quote_source"/>
      </optional>
      <optional>
        <ref name="quote_author"/>
      </optional>
      <zeroOrMore>
        <ref name="BasicBlock"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="quote_source">
    <element name="source">
      <ref name="CitationType"/>
    </element>
  </define>
  <define name="quote_author">
    <element name="author">
      <ref name="CreatorInfo"/>
    </element>
  </define>
  <define name="annex">
    <element name="annex">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="subtype">
          <choice>
            <value>normative</value>
            <value>informative</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="section_title"/>
      </optional>
      <zeroOrMore>
        <!--
          allow hanging paragraphs in annexes: they introduce lists
          ( para | table | note | formula | warning | ol | ul | dl | figure | quote | sourcecode | review_note | example )*,
        -->
        <ref name="BasicBlock"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="clause_hanging_para"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="bibliography">
    <element name="bibliography">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="section_title"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="iso_ref_title"/>
          <ref name="reference"/>
        </choice>
      </oneOrMore>
      <zeroOrMore>
        <ref name="bibliography"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="reference">
    <element name="reference">
      <ref name="ref"/>
      <ref name="para"/>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="TextElement">
    <choice>
      <ref name="em"/>
      <ref name="eref"/>
      <ref name="strong"/>
      <ref name="stem"/>
      <ref name="sub"/>
      <ref name="sup"/>
      <ref name="tt"/>
      <ref name="xref"/>
      <ref name="br"/>
    </choice>
  </define>
  <define name="para">
    <element name="p">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="TextElement"/>
          <ref name="fn"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="para_no_fn">
    <element name="p">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="TextElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="figure">
    <element name="figure">
      <optional>
        <attribute name="src"/>
      </optional>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <zeroOrMore>
        <ref name="fn"/>
      </zeroOrMore>
      <optional>
        <ref name="dl"/>
      </optional>
      <zeroOrMore>
        <ref name="figure"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="sourcecode">
    <element name="sourcecode">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="callout"/>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="colist"/>
      </optional>
    </element>
  </define>
  <define name="review_note">
    <element name="review_note">
      <optional>
        <attribute name="source"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="callout">
    <element name="callout">
      <text/>
    </element>
  </define>
  <define name="colist">
    <element name="colist">
      <oneOrMore>
        <ref name="annotation"/>
      </oneOrMore>
    </element>
  </define>
  <define name="annotation">
    <element name="annotation">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="fn">
    <element name="fn">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="TextElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="ol">
    <element name="ol">
      <attribute name="type"/>
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ul">
    <element name="ul">
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="li">
    <element name="li">
      <oneOrMore>
        <!-- ( para | table | note | formula | warning | ol | ul | dl | quote | sourcecode | review_note | example )+ -->
        <ref name="BasicBlock"/>
      </oneOrMore>
      <!-- exclude figures? -->
    </element>
  </define>
  <define name="dl">
    <element name="dl">
      <oneOrMore>
        <ref name="dt"/>
        <ref name="dd"/>
      </oneOrMore>
    </element>
  </define>
  <define name="dt">
    <element name="dt">
      <choice>
        <text/>
        <ref name="TextElement"/>
      </choice>
    </element>
  </define>
  <define name="dd">
    <element name="dd">
      <oneOrMore>
        <!--
          ( para | table | note | formula | warning | ol | ul | dl | quote | sourcecode | review_note | example )*
          exclude figures?
        -->
        <ref name="BasicBlock"/>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="para"/>
      </oneOrMore>
    </element>
  </define>
  <define name="warning">
    <element name="warning">
      <ref name="tname"/>
      <oneOrMore>
        <ref name="para"/>
      </oneOrMore>
    </element>
  </define>
  <define name="formula">
    <element name="formula">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <ref name="stem"/>
      <optional>
        <ref name="dl"/>
      </optional>
    </element>
  </define>
  <define name="example">
    <element name="example">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="para"/>
          <ref name="formula"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="dl"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="review_note"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="xref">
    <element name="xref">
      <optional>
        <attribute name="format">
          <choice>
            <value>footnote</value>
            <value>inline</value>
          </choice>
        </attribute>
      </optional>
      <attribute name="target"/>
      <choice>
        <text/>
        <ref name="iso_ref"/>
      </choice>
    </element>
  </define>
  <define name="iso_ref">
    <element name="iso_ref">
      <ref name="isocode"/>
      <optional>
        <ref name="isodate"/>
        <optional>
          <optional>
            <ref name="isosection"/>
          </optional>
        </optional>
      </optional>
    </element>
  </define>
  <define name="eref">
    <element name="eref">
      <attribute name="target"/>
      <text/>
    </element>
  </define>
  <define name="br">
    <element name="br">
      <empty/>
    </element>
  </define>
  <define name="em">
    <element name="em">
      <text/>
    </element>
  </define>
  <define name="strong">
    <element name="strong">
      <text/>
    </element>
  </define>
  <define name="stem">
    <element name="stem">
      <text/>
    </element>
  </define>
  <define name="sub">
    <element name="sub">
      <text/>
    </element>
  </define>
  <define name="sup">
    <element name="sup">
      <text/>
    </element>
  </define>
  <define name="tt">
    <element name="tt">
      <text/>
    </element>
  </define>
  <define name="table">
    <element name="table">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <optional>
        <ref name="thead"/>
      </optional>
      <ref name="tbody"/>
      <optional>
        <ref name="tfoot"/>
      </optional>
      <optional>
        <ref name="dl"/>
      </optional>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="tname">
    <element name="name">
      <text/>
    </element>
  </define>
  <define name="section_title">
    <element name="title">
      <text/>
    </element>
  </define>
  <define name="thead">
    <element name="thead">
      <oneOrMore>
        <ref name="tr"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tbody">
    <element name="tbody">
      <oneOrMore>
        <ref name="tr"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tfoot">
    <element name="tfoot">
      <oneOrMore>
        <ref name="tr"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tr">
    <element name="tr">
      <oneOrMore>
        <choice>
          <ref name="td"/>
          <ref name="th"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="th">
    <element name="th">
      <optional>
        <attribute name="colspan"/>
      </optional>
      <optional>
        <attribute name="rowspan"/>
      </optional>
      <optional>
        <attribute name="align"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="TextElement"/>
          <ref name="fn"/>
          <ref name="para"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="td">
    <element name="td">
      <optional>
        <attribute name="colspan"/>
      </optional>
      <optional>
        <attribute name="rowspan"/>
      </optional>
      <optional>
        <attribute name="align"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="TextElement"/>
          <ref name="fn"/>
          <ref name="para"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="CreatorInfo">
    <attribute name="role"/>
    <optional>
      <ref name="fullname"/>
    </optional>
    <optional>
      <ref name="affiliation"/>
    </optional>
    <zeroOrMore>
      <ref name="person_identifier"/>
    </zeroOrMore>
  </define>
  <define name="publisher">
    <element name="publisher">
      <ref name="CreatorInfo"/>
    </element>
  </define>
  <!-- a publisher has a subset of the roles of a creator -->
  <define name="fullname">
    <element name="fullname">
      <zeroOrMore>
        <ref name="prefix"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="forename"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="initial"/>
      </zeroOrMore>
      <ref name="surname"/>
      <zeroOrMore>
        <ref name="addition"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="prefix">
    <element name="prefix">
      <text/>
    </element>
  </define>
  <define name="initial">
    <element name="initial">
      <text/>
    </element>
  </define>
  <define name="addition">
    <element name="addition">
      <text/>
    </element>
  </define>
  <define name="surname">
    <element name="surname">
      <text/>
    </element>
  </define>
  <define name="forename">
    <element name="forename">
      <text/>
    </element>
  </define>
  <define name="affiliation">
    <element name="affiliation">
      <ref name="Organization"/>
    </element>
  </define>
  <define name="Organization">
    <ref name="orgname"/>
    <ref name="uri"/>
    <ref name="address"/>
    <zeroOrMore>
      <ref name="org_identifier"/>
    </zeroOrMore>
  </define>
  <define name="orgname">
    <element name="name">
      <text/>
    </element>
  </define>
  <define name="uri">
    <element name="uri">
      <text/>
    </element>
  </define>
  <define name="address">
    <element name="address">
      <oneOrMore>
        <!-- iso191606 TODO -->
        <ref name="street"/>
      </oneOrMore>
      <ref name="city"/>
      <optional>
        <ref name="state"/>
      </optional>
      <ref name="country"/>
      <optional>
        <ref name="postcode"/>
      </optional>
    </element>
  </define>
  <define name="street">
    <element name="street">
      <text/>
    </element>
  </define>
  <define name="city">
    <element name="city">
      <text/>
    </element>
  </define>
  <define name="state">
    <element name="state">
      <text/>
    </element>
  </define>
  <define name="country">
    <element name="country">
      <text/>
    </element>
  </define>
  <define name="postcode">
    <element name="postcode">
      <text/>
    </element>
  </define>
  <define name="person_identifier">
    <element name="identifier">
      <attribute name="type">
        <choice>
          <value>isni</value>
          <value>uri</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="org_identifier">
    <element name="identifier">
      <attribute name="type">
        <choice>
          <value>orcid</value>
          <value>uri</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="CitationType">
    <ref name="destination"/>
    <ref name="source"/>
    <ref name="date"/>
  </define>
  <!--
    source is the text element that the citation belongs to; this is in context the text element
    the citation occurs in (or next to), so it does not need to be included in a schema
  -->
  <define name="date">
    <element name="date">
      <data type="string" datatypeLibrary=""/>
    </element>
  </define>
  <define name="destination">
    <element name="destination">
      <ref name="bibLocality"/>
      <ref name="bibItem"/>
    </element>
  </define>
  <!--
    well, no, that's conceptual model thinking. destination contains a pointer to a bibItem,
    not the bibItem itself. The bibItem appers in the document model only in the references,
    never in the citation.
  -->
  <define name="bibLocality">
    <element name="bibLocality">
      <group>
        <ref name="section"/>
        <ref name="pclause"/>
        <ref name="part"/>
        <ref name="pparagraph"/>
        <ref name="chapter"/>
        <ref name="page"/>
        <ref name="whole"/>
      </group>
      <!--
        all of these need to be optional (in reality, choice of one or more,
        with page and whole mutually exclusive to the remainder)
      -->
    </element>
  </define>
  <define name="section">
    <element name="section">
      <text/>
    </element>
  </define>
  <define name="pclause">
    <element name="clause">
      <text/>
    </element>
  </define>
  <define name="pparagraph">
    <element name="paragraph">
      <text/>
    </element>
  </define>
  <!--
    would be nice to use unique name, both clause and paragraph already used elsewhere. (clauseref, pararef?)
    That applies for most ambiguous element names,
    though am ok for "name" to be reused, it always means the same thing
  -->
  <define name="part">
    <element name="part">
      <text/>
    </element>
  </define>
  <define name="chapter">
    <element name="chapter">
      <text/>
    </element>
  </define>
  <define name="page">
    <element name="page">
      <text/>
    </element>
  </define>
  <define name="whole">
    <element name="whole">
      <text/>
    </element>
  </define>
  <define name="bibItem">
    <element name="bibItem">
      <ref name="BibItemType"/>
    </element>
  </define>
  <define name="BibItemType">
    <optional>
      <attribute name="type">
        <choice>
          <value>article</value>
          <value>book</value>
          <value>booklet</value>
          <value>conference</value>
          <value>manual</value>
          <value>proceedings</value>
          <value>presentation</value>
          <value>thesis</value>
          <value>techreport</value>
          <value>standard</value>
          <value>unpublished</value>
        </choice>
      </attribute>
    </optional>
    <ref name="bname"/>
    <ref name="source"/>
    <ref name="publishDate"/>
    <ref name="code"/>
    <ref name="accessedDate"/>
    <zeroOrMore>
      <ref name="creator"/>
    </zeroOrMore>
    <ref name="publisher"/>
    <ref name="edition"/>
    <ref name="comments"/>
    <zeroOrMore>
      <ref name="partOf"/>
    </zeroOrMore>
    <optional>
      <ref name="creationDate"/>
    </optional>
    <optional>
      <ref name="language"/>
    </optional>
    <optional>
      <ref name="script"/>
    </optional>
  </define>
  <!--
    type has been mentioned twice, and not identified as of enum type BibItemType
    what is code for?
  -->
  <define name="bname">
    <element name="name">
      <text/>
    </element>
  </define>
  <define name="source">
    <element name="source">
      <text/>
    </element>
  </define>
  <!-- is a uri throughout -->
  <define name="publishDate">
    <element name="publishDate">
      <text/>
    </element>
  </define>
  <define name="code">
    <element name="code">
      <text/>
    </element>
  </define>
  <define name="accessedDate">
    <element name="accessedDate">
      <text/>
    </element>
  </define>
  <define name="creationDate">
    <element name="creationDate">
      <text/>
    </element>
  </define>
  <define name="comments">
    <element name="comments">
      <data type="string" datatypeLibrary=""/>
    </element>
  </define>
  <!-- consider making this paragraph[1..*] -->
  <define name="partOf">
    <element name="partOf">
      <ref name="BibItemType"/>
    </element>
  </define>
</grammar>
